@use "util" as *;

.course {
  padding: rem(76) 0 rem(80);

  @include mq(pc) {
    padding: rem(95) rem(24) rem(95);
  }

  &__container {
    margin: 0 rem(16);

    @include mq(pc) {
      max-width: rem(1080);
      margin: 0 auto;
    }
  }

  &__title {
    @include mq(pc) {
      padding-right: rem(3);
      letter-spacing: 0.02em;
    }
  }

  // タブ部分
  &__tab {
    display: flex;
    margin: rem(45) auto 0;
    justify-content: center;
    column-gap: rem(8);

    @include mq(pc) {
      column-gap: rem(24);
      margin-top: rem(57);
    }

    &--container {
      width: calc((100% - rem(16)) / 3);
      height: rem(65);
      background-color: #f0f0f0;
      border-radius: rem(8) rem(8) 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: rem(18);
      cursor: pointer;

      @include mq(pc) {
        font-size: rem(26);
        height: rem(80);
        width: calc((100% - rem(48)) - 3);
      }

      &.active {
        background-color: #f2a118;
        color: #fff;
      }

      & > span {
        margin-top: rem(-4);
        cursor: pointer;
      }
    }
  }

  // パネル部分
  &__panel {
    background-color: #ffedcc;
    border-radius: 0 0 rem(8) rem(8);

    justify-content: center;
    align-items: center;

    display: none;

    &.active {
      display: flex;
    }

    &--inside {
      background-color: #fff;
      margin: rem(16);
      width: calc(100% - rem(32));
      height: calc(100% - rem(32));
      border-radius: rem(8);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      @include mq(pc) {
        margin: rem(24);
        flex-direction: row;
        justify-content: center;
        column-gap: rem(24);
      }
    }

    &--container {
      text-align: center;
      width: 100%;

      @include mq(pc) {
        width: calc((100% - (rem(24) * 4)) / 3);
      }

      &:first-child {
        margin-top: rem(24);

        @include mq(pc) {
          margin-top: rem(4);
        }
      }

      & + .course__panel--container {
        margin-top: rem(34);
        @include mq(pc) {
          margin-top: rem(4);
        }
      }

      &:last-child {
        margin-bottom: rem(23);
        @include mq(pc) {
          margin-top: rem(25);
          margin-bottom: rem(22);
        }
      }
    }

    &--img {
      width: calc(100% - rem(48));
      margin: 0 auto;

      @include mq(pc) {
        width: 100%;
      }

      overflow: hidden;
      & > img {
        width: 100%;
        object-fit: cover;
        border-radius: rem(8) rem(8) rem(8) rem(8);
      }
    }

    &--text {
      font-size: rem(20);

      @include mq(sp) {
        margin-top: rem(-5);
      }

      @include mq(pc) {
        font-size: rem(24);
      }
    }

    &--year {
      font-size: rem(16);

      @include mq(pc) {
        font-size: rem(18);
        margin-top: rem(-5);
      }
    }
  }
}
