@use "util" as *;

@include mq(sp) {
  .cover-card {
    height: spvw(54);
    width: fit-content;
    padding-left: spvw(16);
    padding-right: spvw(18);
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: flex-end;

    font-size: spvw(20);
    font-weight: bold;

    border-radius: 0 spvw(8) spvw(8) 0;

    & span {
      display: inline-block;
    }
  }

  .card1 {
    position: absolute;
    top: spvw(326);
    z-index: 10;

    & > span {
      padding-bottom: spvw(13);
    }
  }

  .card2 {
    position: absolute;
    top: spvw(388);
    z-index: 10;
    & > span {
      padding-bottom: spvw(13);
    }
  }

  .cover-container {
    position: relative;
    width: spvw(362);
    margin-left: auto;
    &__picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cover-container-double {
    width: 100%;
    border-radius: 0 0 0 spvw(113);
    overflow: hidden;

    & img {
      width: 100%;
    }
  }

  // カバー内の文字色と強調の文字サイズ

  .green {
    color: #46c017;
  }

  .yellow {
    color: #f2a118;
  }

  .orange {
    color: #f26618;
  }

  strong {
    font-size: spvw(24);
    // vertical-align: bottom;
  }

  .Poppins {
    padding-bottom: 15px !important;
    letter-spacing: 0.01em;
  }

  // SP版ページネーションの調整

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0 !important;
    left: 0 !important;
    top: rem(455);
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 rem(11) !important;
  }
}

.Poppins {
  font-family: "Poppins";
}

// ページネーション

.swiper-pagination-bullet {
  display: block;
  width: rem(8) !important;
  height: rem(8) !important;
  background-color: #000 !important;
  border-radius: 50%;
  opacity: 0.25;

  &-active {
    opacity: 1;
  }
}

// pc版スライダー
@include mq(pc) {
  .cover-card {
    height: vw(85);
    width: fit-content;
    padding-left: vw(16);
    padding-right: vw(24);
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: flex-end;

    font-size: vw(36);
    font-weight: bold;

    border-radius: 0 vw(8) vw(8) 0;

    & span {
      display: inline-block;
    }
  }

  .card1 {
    position: absolute;
    top: vw(430);
    left: vw(6);
    z-index: 10;
    & > span {
      padding-bottom: vw(13);
    }
  }

  .card2 {
    position: absolute;
    top: vw(534);
    left: vw(6);
    z-index: 10;

    & > span {
      padding-bottom: vw(16);
    }
  }

  .cover-container {
    position: relative;
    max-width: vw(1393);
    margin-left: auto;
    &__picture {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  .cover-container-double {
    max-width: vw(1270);
    margin-left: auto;
    border-radius: 0 0 0 vw(160);
    overflow: hidden;
    position: relative;
    top: -9px;

    & img {
      width: 100%;
    }
  }

  // カバー内の文字色と強調の文字サイズ

  .green {
    color: #46c017;
  }

  .yellow {
    color: #f2a118;
  }

  .orange {
    color: #f26618;
  }

  strong {
    font-size: vw(44);
    // vertical-align: bottom;
  }

  .Poppins {
    padding-bottom: vw(18) !important;
    letter-spacing: 0.01em;
  }

  // PC版ページネーションの調整

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0 !important;
    // left: rem(670) !important;
    top: vw(755);
    display: flex;
    justify-content: flex-end;
    height: 10px;
    padding-right: rem(23);
    padding-top: rem(11);
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 vw(11) !important;
  }
}

// キャッチカバー周りのアニメーション
.cover-card {
  transform: translateX(-100px);
  opacity: 0;
  transition: all 0.3s;
}

.swiper-slide-active .cover-card {
  transform: none;
  opacity: 1;
}

.card2 {
  transition-delay: 0.1s;
}
