$breakpoints: (
  sp: "screen and (max-width:767px)",
  sp2: "screen and (max-width:800px)",
  sp3: "screen and (max-width:1500px)",
  pc: "screen and (min-width:768px)",
  pc2: "screen and (min-width:800px)",
  pc3: "screen and (min-width:1500px)",
);

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints,$breakpoint)} {
    @content;
  }
}

@function rem($pixel) {
  @return calc($pixel / 16 * 1rem);
}

@function vw($pixel) {
  @return calc($pixel / 1536 * 100vw);
}

@function spvw($pixel) {
  @return calc($pixel / 390 * 100vw);
}

@function per($pixel, $parent) {
  @return calc($pixel / $parent * 100%);
}
