@use "util" as *;
@forward "slider";
@forward "hero";
@forward "ranking";

// コモン
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

// 共通部品
.free-trial-button {
  width: rem(280);
  height: rem(60);
  border-radius: rem(30);
  background-color: #f11f8d;
  font-family: "Noto Sans JP", sans-serif;
  font-size: rem(20);
  font-weight: bold;
  color: #fff;

  padding-left: 73px;
  padding-top: 15px;
  letter-spacing: -0.03em;

  & > i {
    margin-left: rem(32);
  }
}

.header__menu--button {
  margin-top: rem(35);
  // margin-left: rem(3);
  @include mq(pc2) {
    display: none;
  }
}

// ヘッダー
.header {
  position: fixed;
  z-index: 100;
  width: calc(100vw - 1rem);
  height: rem(66);
  background-color: #0079f2;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: rem(33);
  margin: rem(8) rem(8) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(pc2) {
    height: rem(80);
    border-radius: rem(40);
  }

  & a {
    text-decoration: none;
  }

  &__title {
    position: relative;
    left: rem(30);
    bottom: rem(3);
    &--heading {
      color: #fff;
      font-weight: 800;
      font-family: "Poppins";
      font-size: rem(18);
    }

    &--desc {
      font-size: rem(10);
      color: #fff;
      margin-top: rem(-1);
    }

    &--pc {
      display: none;
    }

    @include mq(pc2) {
      left: rem(40);
      bottom: 0;

      &--heading,
      &--desc {
        display: none;
      }

      &--pc {
        display: block;
      }
    }
  }
}

// ハンバーガーボタン
.hamburger {
  margin-right: rem(32);

  @include mq(pc2) {
    display: none;
  }

  & span {
    display: block;
    width: rem(24);
    height: rem(2);
    background-color: #fff;
    position: relative;
    // right: rem(32);
    margin-bottom: 5px;
    transition: all 0.3s;
  }

  &.active {
    & span:nth-child(1) {
      transform: translate(0px, 7px) rotate(45deg);
    }
    & span:nth-child(3) {
      transform: translate(0px, -7px) rotate(-45deg);
    }

    & span:nth-child(2) {
      transform: scale(0);
    }
  }
}

// ヘッダーメニュー
.header {
  &__menu {
    @include mq(sp2) {
      position: fixed;
      top: rem(86);
      background-color: #0079f2;
      height: calc(100vh - 5.375rem);
      max-height: rem(523);
      width: calc(100% - 1rem);
      border-radius: rem(32);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
      margin-bottom: 50px;
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }

    @include mq(pc2) {
      position: relative;
      right: rem(40);
      bottom: rem(5);
    }
  }

  @include mq(sp2) {
    &__nav {
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }

    &__nav__list {
      flex-grow: 1;
      flex-shrink: 2;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-height: rem(300);
      padding-top: rem(44);

      & li {
        text-align: center;
        flex-shrink: 1;
      }

      & li a {
        font-size: rem(18);
        font-weight: bold;
        color: #fff;
        font-family: "Noto Sans JP", sans-serif;
      }
    }
  }

  @include mq(pc2) {
    &__nav__list {
      display: flex;
      list-style: none;

      & li:nth-child(1) {
        margin-right: rem(36);
      }
      & li:nth-child(2) {
        margin-right: rem(37);
      }
      & li:nth-child(3) {
        margin-right: rem(37);
      }
      & li:nth-child(4) {
        margin-right: rem(39);
      }

      & li a {
        text-decoration: none;
        color: #fff;
        font-size: rem(15);
        font-family: "Noto Sans JP", sans-serif;
      }
    }
  }
}

// ヘッダーメニュー内のSNSリンク
.header__menu--sns-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: rem(41);
  margin-top: rem(39);
  margin-bottom: rem(28);
  width: 100%;

  & li a {
    font-size: rem(32);
    color: #fff;
  }

  @include mq(pc2) {
    display: none;
  }
}
